.main h1 {
    margin: 0;
    font-size: 46px;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-weight: 700;
    color: #0017B3;
}

.main-screen__timer {
    position: relative;
}

.main-screen__timer img:nth-child(2) {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 49.5%;
    transform: translate(-50%, -50%);
}

.main-screen__timer img:last-child {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 77%;
    transform: translate(-50%, 0%);
}