.main-screen {
    display: block;
    text-align: center;
}

.main-screen h1 {
    margin: 0;
    font-size: 3rem;
    font-family: "Varela Round", sans-serif;
    font-weight: 900;
    color: #0017B3;
}

.main-screen__timer {
    position: relative;
}

.main-screen__timer img:first-child {
    height: 30%;
    width: 30%;
}

.main-screen__timer img:nth-child(2) {
    position: absolute;
    width: 25%;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.main-screen__timer img:last-child {
    position: absolute;
    width: 5%;
    z-index: 2;
    left: 50%;
    top: 80%;
    transform: translate(-50%, 0%);
}