.splash-header {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
}

.splash-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15rem;
}

.splash-title h2 {
    color: #0017B3;
    font-family: 'PuradakGentleGothicR';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.1/PuradakGentleGothicR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.splash-title img {
    width: 350px;
    height: auto;
}

.splash-header__logo {
    width: 150px;
    height: auto;
    position: absolute;
    left: 50%;
    bottom: 2rem;
    transform: translateX(-50%);
}