.box-component {
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 327px;
    height: 42px;
    background-color: white;
    border-radius: 8px;
}

.box-component__plus {
    background-color: #E3E4EC;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.box-component__plus span {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-weight: 500;
    font-size: 24px;
}

.box-component__button {
    border: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
}

.button-blue {
    background-color: #0017B3;
    color: #f2f3f6;
}

.button-white {
    margin-top: 15px;
    background-color: white;
    color: #0017B3;
    border-color: #0017B3;
    border: 1px solid;
}

.timer {
    font-size: 15px;
}

.enable {
    color: #0017B3;
}

.disable {
    color: #AAAAAA;
}