.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.screen-header__button {
    margin-top: 44px;
    margin-left: 26px;
    margin-right: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screen-header__button p {
    margin: 0;
    padding-top: 3px;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    color: #0017B3;
    font-size: 10px;
    font-weight: 500;
}