{% load static %}
<!doctype html>
<html lang='ko'>
<head>
    <link rel='stylesheet' href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<html>

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Netflix</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"
            integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9"
            crossorigin="anonymous"></script>
    </head>

    <body>
        <div class="wrapper">

            <!-- HEADER -->
            <header>
                <div class="netflixLogo">
                    <a id="logo" href="#home"><img
                            src="https://github.com/carlosavilae/Netflix-Clone/blob/master/img/logo.PNG?raw=true"
                            alt="Logo Image"></a>
                </div>
                {% comment %} <nav class="main-nav">
                    <a href="#home">Home</a>
                    <a href="#tvShows">TV Shows</a>
                    <a href="#movies">Movies</a>
                    <a href="#originals">Originals</a>
                    <a href="#">Recently Added</a>
                    <a target="_blank" href="https://codepen.io/cb2307/full/NzaOrm">Portfolio</a>
                </nav> {% endcomment %}
                <nav class="sub-nav">
                    <!-- <a href="#"><i class="fas fa-search sub-nav-logo"></i></a> -->
                    <!-- <a href="#"><i class="fas fa-bell sub-nav-logo"></i></a> -->
                    {% if user.is_authenticated  %}
                        <a href="/movies/likes/" class="buttons">Likes</a>
                        <a href="/users/logout/" class="buttons">Logout</a>
                    {% else %}
                        <a href="/users/signup/" class="buttons">Sign Up</a>
                        <a href="/users/login/" class="buttons">Sign In</a>    
                    {% endif %}
                </nav>
            </header>
            <!-- END OF HEADER -->

            <!-- MAIN CONTAINER -->
            <section class="main-container">
                <h1 id="home">일간 박스오피스</h1>
                <div class="box">
                {% for rank in daily_ranks %}
                    <div class='movie-box'>
                    <h1>{{ forloop.counter }}</h1>
                    <img
                        src={{ rank.thumbnail }}
                        alt="">
                    <h2 id="like-h2">
                        {{ rank.name }}
                        <form action="/movies/{{ rank.cd }}/like/" method="POST">
                            {% csrf_token %}
                            <input type='hidden' name='movie_name' value='{{ rank.name }}'>
                            <input type='hidden' name='movie_thumbnail' value='{{ rank.thumbnail }}'>
                            {% if rank.cd in like_movies %}
                                <button id="like" type="submit">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16" style="fill:red">
                                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                    </svg>
                                </button>
                            {% else %}
                                <button id="like" type="submit">
                                    <svg style="fill:white"xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                    </svg>
                                </button>
                            {% endif %}
                        </form>
                    </h2>
                    <p>관객수</p>
                    <span>{{ rank.audi_cnt }}</span>
                    <p>누적관객수</p>
                    <span>{{ rank.audi_acc }}</span>
                    </div>
                {% endfor %}
                </div>


                <h1 id="myList">주간 박스오피스</h1>
                <div class="box">
                {% for rank in weekly_ranks %}
                    <div class='movie-box'>
                    <h1>{{ forloop.counter }}</h1>
                    <img
                        src={{ rank.thumbnail }}
                        alt="">
                    <h2 id="like-h2">
                        {{ rank.name }}
                        <form action="/movies/{{ rank.cd }}/like/" method="POST">
                            {% csrf_token %}
                            <input type='hidden' name='movie_name' value='{{ rank.name }}'>
                            <input type='hidden' name='movie_thumbnail' value='{{ rank.thumbnail }}'>
                            {% if rank.cd in like_movies %}
                                <button id="like" type="submit">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16" style="fill:red">
                                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                    </svg>
                                </button>
                            {% else %}
                                <button id="like" type="submit">
                                    <svg style="fill:white"xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                    </svg>
                                </button>
                            {% endif %}
                        </form>
                    </h2>
                    <p>관객수</p>
                    <span>{{ rank.audi_cnt }}</span>
                    <p>누적관객수</p>
                    <span>{{ rank.audi_acc }}</span>
                    </div>
                {% endfor %}
                </div>

                <h1 id="tvShows">작년 박스오피스</h1>
                <div class="box">
                {% for rank in year_ago_ranks %}
                    <div class='movie-box'>
                        <h1>{{ forloop.counter }}</h1>
                        <img
                            src={{ rank.thumbnail }}
                            alt="">
                        <h2 id="like-h2">
                            {{ rank.name }}
                            <form action="/movies/{{ rank.cd }}/like/" method="POST">
                                {% csrf_token %}
                                <input type='hidden' name='movie_name' value='{{ rank.name }}'>
                                <input type='hidden' name='movie_thumbnail' value='{{ rank.thumbnail }}'>
                                {% if rank.cd in like_movies %}
                                    <button id="like" type="submit">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16" style="fill:red">
                                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                        </svg>
                                    </button>
                                {% else %}
                                    <button id="like" type="submit">
                                        <svg style="fill:white"xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                        </svg>
                                    </button>
                                {% endif %}
                            </form>
                        </h2>
                        <p>관객수</p>
                        <span>{{ rank.audi_cnt }}</span>
                        <p>누적관객수</p>
                        <span>{{ rank.audi_acc }}</span>
                    </div>
                {% endfor %}
                </div>

                <!-- END OF MAIN CONTAINER -->

                <!-- LINKS -->
                <section class="link">
                    <div class="logos">
                        <a href="#"><i class="fab fa-facebook-square fa-2x logo"></i></a>
                        <a href="#"><i class="fab fa-instagram fa-2x logo"></i></a>
                        <a href="#"><i class="fab fa-twitter fa-2x logo"></i></a>
                        <a href="#"><i class="fab fa-youtube fa-2x logo"></i></a>
                    </div>
                    <div class="sub-links">
                        <ul>
                            <li><a href="#">Audio and Subtitles</a></li>
                            <li><a href="#">Audio Description</a></li>
                            <li><a href="#">Help Center</a></li>
                            <li><a href="#">Gift Cards</a></li>
                            <li><a href="#">Media Center</a></li>
                            <li><a href="#">Investor Relations</a></li>
                            <li><a href="#">Jobs</a></li>
                            <li><a href="#">Terms of Use</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Legal Notices</a></li>
                            <li><a href="#">Corporate Information</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </section>
                <!-- END OF LINKS -->

                <!-- FOOTER -->
                <footer>
                    <p>&copy 1997-2018 Netflix, Inc.</p>
                    <p>Carlos Avila &copy 2018</p>
                </footer>
        </div>
    </body>

    </html>
</body>
</html>
