.splash-header {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
}

.splash-header__subtitle {
    color: #0017B3;
}

.splash-header__title {
    width: 350px;
    height: auto;
}

.splash-header__logo {
    padding-top: 600px;
    width: 150px;
    height: auto;
}