@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Versela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,400;1,600&display=swap');

@import "screens/splash.css";

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 375px;
    height: 811px;
    background-color: #F2F3F6;
    display: flex;
    flex-direction: column;
    align-items: center;
}